* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #F8F7F3;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.active {
  color: black;
}
