* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #F8F7F3;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.active {
  color: #088269;
}
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #E5E2EE;
  border-radius: 5px;
  height: 50px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}